@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

table{
	margin: auto;
	border-collapse: collapse;
}

caption,
th{
	font-weight: normal;
	font-style: italic;
	text-align: center;
}

th,
td{
	vertical-align: bottom;
}

th + th,
td + td{
	text-align: right;
	padding-left: 1em;
	font-variant-numeric: tabular-nums;
}

tfoot td + td{
	border-top: 1px solid;
}

table + p{
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

p span.i2{
	padding-left: 3em;
	text-indent: -2em;
}

[epub|type~="z3998:signature"],
[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

#chapter-1 blockquote:nth-of-type(2){
	text-align: center;
}

#chapter-2 blockquote p{
	text-align: initial;
	text-indent: 0;
}

#chapter-2 blockquote .name{
	font-style: italic;
}
